<section id="services" class="services section-padding">
  <div class="container container-center">
    <h2>Nossos Serviços</h2>
    {{ range .Params.services }}
      <h3 class="category-title mt-4" style="text-align: left;">— {{ .category }}</h3>
      <div class="grid services-grid mt-4 mb-5">
        {{ range .items }}
        <div class="card service-card">
          <div class="service-icon mb-2" style="font-size: 2rem;">{{ .icon }}</div>
          <h4>{{ .title }}</h4>
        </div>
        {{ end }}
      </div>
    {{ end }}
  </div>
</section>
