<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}
<body>
  {{ partial "header.html" . }}
  
  <main>
    {{ partial "hero.html" . }}
    {{ partial "logo_carousel.html" . }}
    {{ partial "benefits.html" . }}
    {{ partial "cases.html" . }}
    {{ partial "services.html" . }}
    {{ partial "clients.html" . }}
    {{ partial "about.html" . }}
    {{ partial "faq.html" . }}
    {{ partial "cta_banner.html" . }}
  </main>
  
  {{ partial "footer.html" . }}
</body>
</html>
